@import '../../style/var.less';
.app-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    .page-content {
        width:  e('calc(100vw - 230px)');
        position: relative;
        padding-top: 52px;
        overflow-y: auto;
        @media (max-width: 1400px) {
            width:  e('calc(100vw - 180px)');
        }
    }
    .fixed-header-content {
        margin: 8px 8px 0 !important;
    }
    .page-content {
        padding-left: @XLWidth;
        @media (max-width: 1400px) {
            padding-left: @MdWidth;
        }
        &.sideLayout {
            padding-left: 54px;
            transition: .3s;
        }
    }
    &.sideLayout {
        .side-bar {
            min-width: 54px;
            width: 54px;
            .logo-wrap h1 {
                display: none;
            }
        }
        .page-content {
            width: e('calc(100vw - 54px)');
        }
    }
    .page-tabs {
        .ant-tabs-bar {
            margin-bottom: 0;
          }
        .el-tabs__header {
            margin-bottom: 0;
            .el-tabs__nav {
                border: none;
            }
            .el-tabs__item {
                background-color: #ececec;
                &.is-active {
                    background-color: #fff;
                }
            }
        }
        .ant-tabs-extra-content {
            display: none;
        }
    }
}
