.app-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;
    .page-content {
        width: calc(100vw - 230px);
        height: 100vh;
        position: relative;
        padding-top: 56px;
        overflow-y: auto;
    }
}
