.left-menu {
    text-align: left;
    border-right: none;
    height: e('calc(100vh - 65px)');
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}