@import '../../../style/var.less';
.header-wrap {
    display: inline-block;
    height: @headerHeight;
    background-color: #FAFBFD;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 40px 0 rgba(7, 4, 4, 0.05);
    position: absolute;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: @XLWidth;
    @media (max-width: 1400px) {
        padding-left: @MdWidth;
    }
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 15;
    transition: .3s;
    &.sideLayout {
        padding-left: 56px;
        height: @headerHeight;
        .header-left .header-bread {
            height: @headerHeight;
            line-height: @headerHeight;
        }
        .menu-btn {
            line-height: @headerHeight;
        }
    }
    .menu-btn{
        line-height: @headerHeight;
        width: @headerHeight;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        transition: .3s all ease-in-out;
        &:hover {
            color: @primary-color;
            background-color: lighten(@primary-color, 25%);
        }
    }
    .header-left {
        display: flex;
        flex-direction: row;
        .header-bread {
            display: block;
            font-size: 14px;
            height: @headerHeight;
            line-height: @headerHeight;
        }
    }
    .header-menu {
        display: flex;
        list-style: none;
        color: #666;
        li {
            width: @headerHeight;
            height: @headerHeight;
            line-height: @headerHeight;
            text-align: center;
            cursor: pointer;
            .el-badge__content.is-fixed {
                top: 10px;
            }
            .normal_icon {
                font-size: 20px;
            }
            &:hover {
                color: @primary-color;
                background-color: lighten(@primary-color, 25%);
            }
            &.user {
                width: auto;
                padding: 0 20px;
                .ant-dropdown-link {
                    height: 56px;
                    display: block;
                }
                .name {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }   
}