blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

*,:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
}
::-webkit-scrollbar-track {
    border-radius: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .2);
}
html {
    font-size: 16px;
}
body {
    height: 100%;
    // overflow-y: hidden;
    background-color: #f0f2f5 !important;
    // font-family: Nunito,sans-serif;
}
.fillcontain {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.ant-calendar-picker,.ant-select {
    width: 100%;
}
.red {
    color: red;
}
.sider {
    z-index: 16;
    position: relative;
    overflow-x: hidden;
    &.sider.ant-fixed-sidemenu {
        position: fixed;
        overflow-y: auto;
        height: 100%;
    }
}
.wrapper {
    background: #fff;
    min-height: calc(100vh - 120px);
    padding: 12px 10px;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
.page-wrap {
    .container_content {
        min-height: calc(100vh - 120px);
    }
}
a.disabled-button {
    color: #D4D4D4;
    cursor: pointer;
    pointer-events: none;
}
.ant-table {
    font-size: 12px !important;
}
.right {
    float: right;
}
.left {
    float: left;
}
.basicData {
    .ant-form-item {
        margin-bottom: 0px;
        .ant-form-explain {
            min-height: 0px;
        }
    }
}

@font-face {
    font-family: 'iconfont';  /* project id 1110225 */
    src: url('//at.alicdn.com/t/font_1110225_bdluk9a4938.eot');
    src: url('//at.alicdn.com/t/font_1110225_bdluk9a4938.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1110225_bdluk9a4938.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1110225_bdluk9a4938.woff') format('woff'),
    url('//at.alicdn.com/t/font_1110225_bdluk9a4938.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1110225_bdluk9a4938.svg#iconfont') format('svg');
  }
[class*=" iconfont-"], [class^="iconfont-"]  {
    font-family: iconfont !important;
    font-size: 18px;
    speak-as: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-indent::before {
    content: '\e60a'
}
.iconfont-outdent::before {
    content: '\e60b'
}
.iconfont-email::before {
    content: '\e65d'
}
.iconfont-bell::before {
    content: '\e669'
}

.wrapper {
    .staff-head {
        min-height: 650px;;
    }
}



.form_control .ant-form-item-control-wrapper .ant-form-item-control {
    padding-top: 4px;
    .ant-select-selection--multiple .ant-select-selection__rendered {
        overflow: hidden;
    }
    .ant-select-selection--multiple .ant-select-selection__rendered ul {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        float: left;
    }
    .ant-select-selection--multiple .ant-select-selection__choice {
        float: none;
        overflow: visible;
    }
    .ant-select-selection--multiple .ant-select-search--inline {
        float: none;
        position: absolute;
    }
    .ant-select-selection--multiple {
        max-height: 32px;
        // overflow: hidden;
    }
}

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s;
}
.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}
.fade-transform-leave {
    opacity: 0;
    transform: translateX(30px);
}

/* breadcrumb-transform */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .5s;
}
.breadcrumb-enter,
.breadcrumb-leave-active{
    opacity: 0;
    transform: translateX(20px);
}
.breadcrumb-leave-active {
    position: absolute;
}
.breadcrumb-move {
    transition: all .5s;
}


